<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3 text-center p-4 mt-4">
        <div class="row">
            <h3 class="text-center">Добавить город</h3>
            <hr />
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group text-start">
                    <label class="ms-1 my-1" for="cityName">Название</label>
                    <input type="text" class="form-control" name="cityName" [(ngModel)]="city.cityName" required minlength="1"
                        maxlength="60" #cityName="ngModel" />
                    <div class="alert-danger text-center" *ngIf="cityName.errors && f.submitted">
                        <div *ngIf="cityName.errors['required']">Название необходимо</div>
                        <div *ngIf="cityName.errors['minlength']">
                            Название должно быть длиной более 1 символа
                        </div>
                        <div *ngIf="cityName.errors['maxlength']">
                            Название должно быть длиной менее 60 символов
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block mt-4 text-center">Добавить</button>
                </div>
                <div class="alert alert-warning my-2" *ngIf="f.submitted && !isSuccessful">
                    Ошибка:<br />{{ errorMessage }}
                </div>
            </form>
        </div>
    </div>
    <div>
        <p class="text-center fw-light my-2 text-decoration-underline">
            <a (click)="navigateToList()">Вернуться</a>
        </p>
    </div>
</div>